<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
<!-- 为SpringTest中的name属性赋值 -->
<!-- id：为这个对象取的一个唯一标识
     class：指定这个对象是哪一个类的，给的是类的全路径
 -->
   <bean id="test" class="SpringTest">
      <!-- 为对象中的属性赋值 -->
      <!-- 
                name：要为哪一个属性名赋值
                value：直接赋值
                ref：要用其他的id(对象/组件)
       -->
      <property name="name" value="Hello Spring"></property>
   </bean>
   <bean id="testExample" class="SpringTest">
     <property name="name" value="张三"></property>
     <property name="content" value="今天天气真好"></property>
   </bean>
   <bean id="testE" class="SpringTest">
    <property name="name" value="李四"></property>
    <property name="content" value="今天上课了嘛"></property>
   </bean>
   <bean id="testExample01" class="SpringTest">
     <constructor-arg name="name" value="张三"/>
     <constructor-arg name="content" value="今天天气真好"/>
   </bean>
      <bean id="testExample02" class="SpringTest">
     <constructor-arg name="name" value="李四"/>
     <constructor-arg name="content" value="今天上课了嘛"/>
   </bean>
</beans>